# index page of the website
# this app tells the weather forecast of different areas
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>

    <style>
        @import url(https://fonts.googleapis.com/css?family=Open+Sans);

        body{
        background: #f2f2f2;
        font-family: 'Open Sans', sans-serif;
        }

        .search {
        width: 100%;
        position: relative;
        display: flex;
        }

        .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
        }

        .searchTerm:focus{
        color: #00B4CC;
        }

        .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
        }

        /*Resize the wrap to see the search bar change!*/
        .wrap{
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    </style>

</head>
<body>
    <form action="/" method="POST">
        {{!-- <input name="search_address" id="search" type="search" placeholder="Search for Location..." autofocus required />
        <button type="submit">Find</button> --}}

        <div class="wrap">
        <div class="search">
            <input name="search_address" type="text" class="searchTerm" placeholder="Search by giving Location...">
            <button type="submit" class="searchButton">
                Go
            </button>
        </div>
        </div>
    </form>
</body>
</html>

#EOF
